<!-- Button trigger modal -->
<!--
<%= link_to 'Add client', new_client_path, remote: true, class: "btn btn-#{current_freelancer.clients.empty? ? 'secondary' : 'default'} btn-xs-fixed m-xs-0" %>
-->
<%= render 'clients/partials/modal' %>
<button type="button" class="btn btn-<%="#{current_freelancer.clients.empty? ? 'secondary' : 'default'}"%> btn-xs-fixed m-xs-0" data-toggle="modal" data-target="#exampleModal">
  Add Client
</button>
