<!-- Modal -->
<%= form_for(@deadline, url: client_project_deadlines_path, method: :post) do |form| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Deadline</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-control">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit "Create", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>