<div class="container">
  <div class="container" style="padding:15px;">
    <div class="row">
      <div class="col">
        <h3>Clients(<%= current_freelancer.clients.size %>)</h3>
      </div>
      <div class="ml-auto">
        <%= link_to "Add Client", new_client_path, remote: true, class: "btn btn-primary btn-xs-fixed m-xs-0", style: "background-color: green;" %>
      </div>
    </div>
  </div>

  <hr class="solid">

  <% current_freelancer.clients.each do |client| %>
    <%= render 'clients/partials/table_row', client: client %>
  <% end %>
</div>