
<div class="container" style="padding:15px;">
  <div class="row">
    <div class="col visible_avatar" style="display:inline-flex;">
      <%= image_tag @client.round_avatar, class: "avatar avatar-16 bg-light rounded-circle text-white p-3" %>
      <span style="font-weight: bold;font-size: 20px;margin-left:10px;"><%= @client.name %></span>
    </div>
    <div class="ml-auto">
      <%= link_to "Add Project", new_client_project_path(@client), remote: true, class: "btn btn-primary btn-xs-fixed m-xs-0", style: "background-color: green;" %>
    </div>
  </div>

  <hr class="solid">

  <% @client.projects.each do |project| %>
    <%= render 'projects/partials/table_row', project: project %>
    <hr class="solid">
  <% end %>
</div>
