<div class="container">
  <div class="row">
    <div class="col">
      <h3><%= @client.projects.size %> Projects</h3>
    </div>
    <div class="col">
      <%#= link_to 'Add Project', new_client_path, remote: true, id: 'client-inv', class: "btn btn-#{current_freelancer.clients.empty? ? 'secondary' : 'default'} btn-xs-fixed m-xs-0" %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">State</th>
    </tr>
  </thead>
  <tbody>
    <% @client.projects.each do |project|%>
        <tr>
          <th scope="row"><%= project.id %></th>
          <td><%= project.name %></td>
          <td><%= "Done" %></td>
        </tr>
    <% end %>
  </tbody>
</table>
