<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Mesmodder</a>

  <div class="navbar-nav ml-auto">
    <div class="my-2 row">
      <div class="col" style="border:1px solid green;">
        <i class="bi bi-chat-left-text"></i>
      </div>
      <div class="col" style="border:1px solid green;">
        <i class="bi bi-bar-chart-line"></i>
      </div>
      <div class="col" style="border:1px solid green;">
        <i class="bi bi-bell"></i>
      </div>
      <div class="col visible_avatar" style="display:inline-flex;border:1px solid green;">
        <%= image_tag current_freelancer.round_avatar, class: "avatar avatar-16 bg-light rounded-circle text-white p-1" %>
        <span styles="font-weight: bold;"><%= current_freelancer.visible_name %></span>
      </div>
      <%= link_to "Sign Out", destroy_freelancer_session_path, method: :delete %>
    </div>
  </div>
</nav>